$breakpoints: (
  "md": 600px,
  "lg": 1200px,
);

$colors: (
  "light": #fff,
  "dark": #000,
  "modal": rgba(0, 0, 0, 0.5),
  "background-hed-foot": rgba(202, 228, 237, 0.415),
  "background-mobile": rgba(128, 128, 128, 0.093),
  "color-font": #242424,
  "color-link": #1f087deb,
  "color-link-hover": #4de8fc,
  "transparent": transparent,
);

$font-weights: (
  "Regular": 400,
  "Medium": 500,
);

$font-sizes: (
  "md": 16px,
  "lg": 18px,
  "xl": 20px,
);
