.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 12px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.415);
  background-color: rgba(202, 228, 237, 0.415);

  a {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-content: center;
    align-items: center;

    .icon {
      font-size: 28px;
      color: #60d0f2eb;

      &:hover {
        color: #4de8fc;
      }
    }
  }
}
