@use "../../utilsScss/placeholders";
@use "../../utilsScss/variables" as var;
@use "../../utilsScss/mixins" as mx;

@use "sass:map";

.footer {
  @extend %header-footer;

  grid-template-columns: auto auto auto;
  justify-content: space-around;

  a {
    @extend %icon-avatar;

    gap: 10px;
    align-content: center;

    .icon {
      font-size: 28px;
      color: map.get(var.$colors, "color-link");

      &:hover {
        color: map.get(var.$colors, "color-link-hover");
      }
    }
  }
}
